.bottomDetailsPannel {
  position: relative;
  width: 100%;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 10px;

  &-header {
    position: absolute;
    top: -15px;
    z-index: 20;
    background: #fff;
    font-weight: bold;
    width: 80px;
    text-align: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15vh;
    overflow: auto;
  }
}
