:root {
    --primary-color: #468ba6
    --secondary-color: #e3f2fd;     
    --background-content: #ffffff;
    --primary-border-color: #dddd;
    --common-black: #000;
    --success-color: #46c70f;
    --warning-color: #f56560;
    --common-white: #fff;
  }
  
  [data-theme='light'] {
    --primary-color: #468ba6;
    --secondary-color: #e3f2fd;
    --hover-color: #f0f0f0;
    --background-content: #ffffff;
    --primary-border-color: #dddd;
    --text-color: #000;
    --table-cell-odd: #fff;
    --table-cell-even: #f5f5f5;
    --content-background: #fff;
    --link-color: #468ba6;
  }
  
  [data-theme='dark'] {
    --primary-color: #468ba6;
    --secondary-color: #1e1e1e;
    --hover-color: #424242;
    --background-content: #285059;
    --primary-border-color: #dddd;
    --text-color: #FFFFF0;
    --table-cell-odd: #2e2d2d;
    --table-cell-even: #1c1b1b;
    --content-background: #2e2d2d;
    --link-color: #36a5d1;
  }
  