.data-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-x: hidden;
  gap: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    &-search {
      width: 350px;
      height: 46px;
      border: 1px solid var(--primary-border-color);

      input {
        padding: 10px 20px;
        border: 1px solid var(--primary-border-color);
        border-radius: 30px;
        color: var(--text-color);
      }

      & .MuiOutlinedInput-root {
        border-radius: 30px;
      }
    }
  }

  .MuiDataGrid {
    &-root {
      border: none;
      outline: none;
      width: 100%;
      max-width: 100%;
      overflow-x: auto;
    }

    &-columnHeader {
      background-color: var(--primary-color);
    }

    &-columnHeaderTitle {
      color: var(--common-white);
      font-weight: bold;
    }

    &-footerContainer {
      color: var(--text-color);
    }

    &-cell {
      border: none;
      outline: none;
      transition: background-color 0.3s;
      color: var(--text-color);
    }

    &-row {
      &.even-row {
        background-color: var(--table-cell-even);
      }

      &.odd-row {
        background-color: var(--table-cell-odd);
      }
    }

    &-virtualScrollerContent {
      display: grid;
      grid-template-columns: repeat(15, 1fr);
    }
  }

  &__content {
    height: 60vh;
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    cursor: pointer;
  }

  &__details {
    height: 30vh;
  }
}
